html
  head
    title= 'Internship app'
  body
    h1 Internship Topics
    if topics.length > 0
        each topic in topics
            h2= topic.title
            .count-messages= topic.messages.length
    else
        h2 there are no Topics yet
