doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='description' content='A layout example that shows off a blog page with a list of posts.')
        meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
        title Blog &ndash; Layout Examples &ndash; Pure
        link(rel='stylesheet' href='/css/pure/core.min.css')
        link(rel='stylesheet' href='/css/pure/grids-responsive.min.css')
        link(rel='stylesheet' href='/css/reset.css')
        link(rel='stylesheet' href='/css/layout.css')
        link(rel='stylesheet' href='/css/loginpage.css')
        link(rel='stylesheet' href='/css/posts.css')
    body
        header.pure-menu.pure-menu-horizontal.pure-menu-fixed
            .container-center
                a.pure-menu-heading(href="/v1/topic/")
                    h3 A Sample Blog

                ul.pure-menu-list
                    li.pure-menu-item
                        a.pure-menu-link(href="/v1/topic/") Topics
                    li.pure-menu-item
                        a.pure-menu-link(href="/v1/privacy/") Privacy

                .authWelcomeBlock
                    span Hello,&nbsp;
                        span= authUserName

                    if !authUser
                        a.pure-menu-link.loginBtn(href="/v1/auth/login") Login
                    else
                        a.pure-menu-link.loginBtn(href="/v1/auth/logout") Logout
        //- content
        .content
            .blogPhoto

            .container-center
                block content
