extends layout.pug

block content
    p(align='CENTER' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            font(size='4' style='font-size: 16pt')
                b Privacy Policy
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | This
            | privacy policy (&quot;policy&quot;) will help you understand how
            | [name] (&quot;us&quot;, &quot;we&quot;, &quot;our&quot;) uses and
            | protects the data you provide to us when you visit and use [website]
            | (&quot;website&quot;, &quot;service&quot;).
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | We
            | reserve the right to change this policy at any given time, of which
            | you will be promptly updated. If you want to make sure that you are
            | up to date with the latest changes, we advise you to frequently visit
            | this page.
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            b
                | What
                | User Data We Collect
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | When
            | you visit the website, we may collect the following data:
    ul
        li
            p(align='JUSTIFY' style='margin-bottom: 0.11in')
                font(face='Segoe UI, serif')
                    | Your
                    | IP address.
        li
            p(align='JUSTIFY' style='margin-bottom: 0.11in')
                font(face='Segoe UI, serif')
                    | Your
                    | contact information and email address.
        li
            p(align='JUSTIFY' style='margin-bottom: 0.11in')
                font(face='Segoe UI, serif')
                    | Other
                    | information such as interests and preferences.
        li
            p(align='JUSTIFY' style='margin-bottom: 0.11in')
                font(face='Segoe UI, serif')
                    | Data
                    | profile regarding your online behavior on our website.
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            b
                | Why
                | We Collect Your Data
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | We
            | are collecting your data for several reasons:
    ul
        li
            p(align='JUSTIFY' style='margin-bottom: 0.11in')
                font(face='Segoe UI, serif')
                    | To
                    | better understand your needs.
        li
            p(align='JUSTIFY' style='margin-bottom: 0.11in')
                font(face='Segoe UI, serif')
                    | To
                    | improve our services and products.
        li
            p(align='JUSTIFY' style='margin-bottom: 0.11in')
                font(face='Segoe UI, serif')
                    | To
                    | send you promotional emails containing the information we think you
                    | will find interesting.
        li
            p(align='JUSTIFY' style='margin-bottom: 0.11in')
                font(face='Segoe UI, serif')
                    | To
                    | contact you to fill out surveys and participate in other types of
                    | market research.
        li
            p(align='JUSTIFY' style='margin-bottom: 0.11in')
                font(face='Segoe UI, serif')
                    | To
                    | customize our website according to your online behavior and personal
                    | preferences.
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            b
                | Safeguarding
                | and Securing the Data
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | [name]
            | is committed to securing your data and keeping it confidential.
            | [name] has done all in its power to prevent data theft, unauthorized
            | access, and disclosure by implementing the latest technologies and
            | software, which help us safeguard all the information we collect
            | online.
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            b
                | Our
                | Cookie Policy
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | Once
            | you agree to allow our website to use cookies, you also agree to use
            | the data it collects regarding your online behavior (analyze web
            | traffic, web pages you spend the most time on, and websites you
            | visit).
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | The
            | data we collect by using cookies is used to customize our website to
            | your needs. After we use the data for statistical analysis, the data
            | is completely removed from our systems.
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | Please
            | note that cookies don&apos;t allow us to gain control of your computer in
            | any way. They are strictly used to monitor which pages you find
            | useful and which you do not so that we can provide a better
            | experience for you.
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | If
            | you want to disable cookies, you can do it by accessing the settings
            | of your internet browser. (Provide links for cookie settings for
            | major internet browsers).
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            b
                | Links
                | to Other Websites
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | Our
            | website contains links that lead to other websites. If you click on
            | these links [name] is not held responsible for your data and privacy
            | protection. Visiting those websites is not governed by this privacy
            | policy agreement. Make sure to read the privacy policy documentation
            | of the website you go to from our website.
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            b
                | Restricting
                | the Collection of your Personal Data
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | At
            | some point, you might wish to restrict the use and collection of your
            | personal data. You can achieve this by doing the following:
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | When
            | you are filling the forms on the website, make sure to check if there
            | is a box which you can leave unchecked, if you don&apos;t want to disclose
            | your personal information.
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | If
            | you have already agreed to share your information with us, feel free
            | to contact us via email and we will be more than happy to change this
            | for you.
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        font(face='Segoe UI, serif')
            | [name]
            | will not lease, sell or distribute your personal information to any
            | third parties, unless we have your permission. We might do so if the
            | law forces us. Your personal information will be used when we need to
            | send you promotional materials if you agree to this privacy policy.
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        br
        br
    p(align='JUSTIFY' style='margin-bottom: 0.11in')
        br
        br
    div(type='FOOTER')
        p(align='CENTER' style='margin-top: 0.46in; margin-bottom: 0in; line-height: 100%')
            | Terms and conditions template by
            a(href='https://www.websitepolicies.com/?utm_source=Downloads&utm_medium=DOCX&utm_campaign=Privacy+Policy+Template&utm_content=footer')  WebsitePolicies.com
        p(style='margin-bottom: 0in; line-height: 100%')
            br
