/* HEADER */
HEADER {
    padding: 20px;
    background: #ffffff;
    border-bottom: 1px solid #ccc;
    width: 100vw !important;
}

HEADER .pure-menu-heading H3 {
    margin: 0;
}
HEADER .authWelcomeBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: #787878;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #efefef;
    padding-left: 1em;
}
HEADER .authWelcomeBlock .loginBtn {
    color: rgb(61, 146, 201);
}
HEADER .authWelcomeBlock .loginBtn,
HEADER .pure-menu-list {
    float: right;
}

.blogPhoto {
    width: auto;
    height: 407px;
    background-image: url(https://placekitten.com/1768/407);
    background-size: cover;
    background-position: top center;
    filter: opacity(0.7);
    z-index: 1;
    margin: 0 -1em;
}


.container-center {
    max-width: 1280px;
    margin: 0 auto;
}
.content {
    padding: 128px 1em 0;
}
