.content-subhead {
    text-transform: uppercase;
    color: #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    padding: 0.4em 0;
    margin: 0 20px;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.pure-form {
    padding: 20px;
}
/* MESSAGES */
.message {
    padding: 20px;
}
.message-description {
    letter-spacing: 0.2px;
    line-height: 2;
    font-size: 14px;
}
.message-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}
.messages .message:nth-child(odd) {
    background-color: #f2f3f3;
}

/* TOPICS */
.topics .content-subhead {
    margin-right: 17px;
    margin-left: 17px;
    margin-bottom: 20px;
}
.topics {
    padding-top: 40px;
}
.topics .post {
    vertical-align: top;
    display: inline-block;
    padding: 17px;
    margin-bottom: 40px;
    overflow: hidden;
}
.topics .post .post-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.topics .post .post-header {
    font-size: 0;
}
.topics .post .post-avatar {
    margin-top: -25px;
    border-radius: 50%;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
.topics .post .post-author {
    font-size: 12px;
    display: inline-block;
    margin-left: 7px;
    position: relative;
    top: -6px;
    color: #828282;
    letter-spacing: 0.3px;
}
.topics .post .post-title {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 30px;
    letter-spacing: 0.3px;
}
.topics .post .post-description {
    line-height: 1.2;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 75px;
}
.topics .post .post-description P {
    margin: 0;
    letter-spacing: 0.2px;
}
.topics .post .messagesIcon {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cg transform='translate(0.000000,511.000000) scale(0.100000,-0.100000)'%3E%3Cpath fill='%23828282' d='M985.7,4440.9c-381.2-77-700.8-354.3-835.6-718.2L100,3584.1V1090.8v-2493.3l44.3-129c123.2-354.3,454.4-652.7,808.6-725.9c55.8-11.5,231-21.2,388.9-21.2h288.8v-976.2v-978.1l976.2,976.2l978.1,978.1l2724.4,3.9l2724.4,5.8l127.1,50c342.7,132.9,577.6,365.8,695.1,691.2l44.3,125.1v2493.3v2493.3l-44.3,121.3c-119.4,331.2-348.5,560.3-695.1,695l-127.1,50.1l-3985.5,1.9C2855.2,4454.3,1028,4448.6,985.7,4440.9z M8950.8,3824.8c113.6-32.7,231-132.8,288.8-248.4l53.9-105.9V1090.8V-1289l-52-105.9c-59.7-115.5-177.1-215.6-290.7-248.4c-48.1-11.6-993.5-19.2-2843.7-19.2H3334.6l-543-543l-544.9-544.9v542.9v542.9l-610.3,5.8c-679.6,5.8-668.1,3.8-802.9,142.5c-134.8,138.6-127.1-13.5-127.1,2616.5v2370.1l53.9,104c57.8,115.5,152.1,200.2,265.7,240.7c63.5,23.1,706.6,27,3964.3,28.9C7612.7,3844,8902.7,3838.2,8950.8,3824.8z'/%3E%3Cpath fill='%23828282' d='M1725,2879.4c-200.2-117.5-198.3-421.6,1.9-535.2l73.2-40.4l1655.8,3.9c1646.2,5.8,1657.7,5.8,1711.6,46.2c188.7,140.5,188.7,375.4,0,516c-53.9,40.4-63.5,40.4-1713.6,44.3l-1659.7,5.8L1725,2879.4z'/%3E%3Cpath fill='%23828282' d='M1750,1366.1c-190.6-92.4-225.3-352.3-69.3-500.6c36.6-34.6,94.3-67.4,129-73.2c34.7-5.8,1480.6-7.7,3213.4-5.8l3151.8,5.8l53.9,40.4c188.7,140.5,188.7,375.4,0,516l-53.9,40.4l-3180.7,3.9C2088.9,1396.9,1807.8,1395,1750,1366.1z'/%3E%3Cpath fill='%23828282' d='M1725-183.8c-200.2-115.5-198.3-419.7,1.9-533.3l73.2-40.4l2425.9,3.9l2427.9,5.8l53.9,40.4c188.7,140.5,188.7,375.4,0,516l-53.9,40.4l-2429.8,3.9l-2429.8,5.8L1725-183.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: right center;
    background-repeat: no-repeat;
    height: 25px;
    padding-right: 39px;
    display: block;
    text-align: right;
    margin: 0 20px;
    line-height: 26px;
    letter-spacing: 0.3px;
}

.post-page {
    margin-bottom: 40px;
    padding: 20px;
}
.post-page .post-description {
    line-height: 2;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    letter-spacing: 0.4px;
    font-size: 20px;
}
.post-page .post-title {
    font-size: 30px;
}
