@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    overflow: overlay;
    height: 100%;
    width: 100vw;
}
body {
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}
