form.pure-form.pure-form-aligned.pure-u-1.pure-u-md-2-3(action='/v1/topic' method='POST')
  fieldset
    .pure-control-group
      input#author(type='text' placeholder='Name' name='author').pure-u-1.pure-u-md-7-24
      input#name(type='text' placeholder='Title' name='title').pure-u-1.pure-u-md-7-24

    .pure-control-group
      textarea#foo(type='text' placeholder='Enter something...' name='description' rows=10).pure-u-1

    label.pure-checkbox(for='cb')
      input#cb(type='checkbox' required)
      |  I&apos;ve read the terms and conditions
    button.pure-button.pure-button-primary(type='submit') Submit
