extends ../layout.pug

mixin post({ title, author, description, img, id, numberOfMessages })
        // A single blog post
        section.post.pure-u-md-1-3.pure-u-sm-1
            .post-header
                - var randomCat = `http://placekitten.com/50/50?image=${Math.floor(Math.random() * 17)}`

                img.post-image(width='400' height='400' alt="Post picture" src='https://via.placeholder.com/400')

                if author
                    img.post-avatar(width='50' height='50' alt="Author's avatar" src=randomCat)
                    a.post-author(href='#')
                        | By&nbsp;
                        = author

            h2.post-title
                a(href=`/v1/topic/${id}/message`)= title

            if description
                .post-description
                    p= (description.substring(0,200).replace(/(?<=.{200})/gm, '...'))

            span.messagesIcon= (numberOfMessages || 0)

block content
    .topics
        if pinned
            h3.content-subhead Pinned Topic
            .pure-g
                +post(pinned)

        if recent
            h3.content-subhead Recent Topics
            .pure-g
                +post(recent)

        h3.content-subhead New Topics
        .pure-g
            each topic in topics
                +post(topic)
    h3.content-subhead Create Topic
    include create
