form.pure-form.pure-form-aligned.pure-u-1.pure-u-md-2-3(action=`/v1/topic/${topic.id}/message` method='POST')
  fieldset
    .pure-control-group
      input#name(type='text' placeholder='Enter Name' name='name').pure-u-1.pure-u-md-2-3

    .pure-control-group
      textarea#foo(type='text' placeholder='Enter something...' name='text' rows=10).pure-u-1

    label.pure-checkbox(for='cb')
      input#cb(type='checkbox' required)
      |  I&apos;ve read the terms and conditions
    button.pure-button.pure-button-primary(type='submit') Submit

    input(type='hidden' name='topicId' value=topic.id)
