extends ../layout.pug

mixin messageBlock({ text, name, createdAt, img })
    // A single message
    section.message
        .message-header
            p.message-meta
                | By
                |
                a.message-author(href='#')= (name || 'unknown')
                | ,
                |
                span= APP.moment(createdAt).fromNow()
            .message-description
                p= text

block content
    section.post.post-page
        if topic.img
            - var randomCat = `http://placekitten.com/48/48?image=${Math.floor(Math.random() * 17)}`

        img.post-avatar(width='48' height='48' alt="Tilo Mitra's avatar" src=randomCat)
        h2.post-title= topic.title

        p.post-meta
            | By
            |
            a.post-author(href='#')= (topic.author || 'Unknown')
        nav.nav
            ul.nav-list
                li.nav-item
            a.pure-button.pure-button-primary(href=`/v1/topic/${topic.id}/pin`) Pin topic
            |
            |
            a.pure-button.pure-button-primary(href=`/v1/topic/${topic.id}/unpin`) Unpin topic

        if topic.description
            .post-description
                p= topic.description

    h3.content-subhead New message
    include create

    if messages.length
        .messages
            h3.content-subhead Messages
            each message in messages
                +messageBlock(message)
