extends ../layout

block content
    .pure-button-group
        a.pure-button(href="/v1/auth/facebook") Facebook
        a.pure-button(href="/v1/auth/google") Google
        a.pure-button(href="/v1/auth/github") GitHub


